<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.handy.note.mvvm" >

    <application>
        <activity android:name="com.handy.note.ui.NoteLifecycleActivity" />
        <activity android:name="com.handy.note.ui.NoteMusicActivity" />
    </application>

</manifest>
