<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.handy.note.kotlin">

    <application>
        <activity android:name=".NoteKotlinActivity" />
        <activity android:name=".NoteKotlinFlowActivity" />
        <activity android:name=".NoteKotlinChannelActivity" />
    </application>
</manifest>